<%- include header %>
<link href='/stylesheets/css/highlight/vs.css' rel='stylesheet' type='text/css'/>
<link href='/stylesheets/css/text_courses.css' rel='stylesheet' type='text/css'/>
<div class="container content">
    <div class="row no-margin">
        <div class="col-md-12">
            <ol class="breadcrumb breadcrumb-margin">
                <li><a href="/paths/<%= path._id %>/courses"><%= path.name %></a></li>
                <li><a href="/courses/<%= course._id %>/sections"><%= course.show_name %></a></li>
                <li class="active"><%= section.name %></li>
            </ol>
        </div>
    </div>
    <div class="row row-course-container" id="row-course-container">
        <div class="text-course-container" id=<%= text_course._id %>>
            <h1 class="h1-title" id=<%= is_final_text %>><%= text_course.title %></h1>
            <hr class="tc-hr"/>
            <div id="desc">
                <% text_course.desc.forEach( function (desc) { %>
                <%= desc %>
                <% }) %>
            </div>

            <% if (text_course.type == "topic") { %>
            <pre><code class="javascript"><%= text_course.code %></code></pre>
            <p><%= text_course.question.content %></p>

            <div class="row row-options no-margin" id="options">
                <% text_course.question.options.forEach( function (option) { %>
                <input type="radio" name="options" id="<%= option %>" value="<%= option %>">
                <label for="<%= option %>">
                    <%= option %>
                </label><br>
                <% }) %>
            </div>

            <p class="correctOrIncorrect ansCorrect hide" id="ansCorrect">Correct!</p>

            <p class="correctOrIncorrect ansIncorrect hide" id="ansIncorrect">Sorry, the correct answer is:
                <span id="answer_value"></span>
            </p>

            <div class="hide" id="ansExplanation"></div>
            <% } %>
            <div class="row no-margin text-center" id="gray_btn">
                <button class="btn btn-gray" onclick="submit_answer()" id="submit_answer">提交答案</button>
                <button class="btn btn-gray hide" onclick="next_page()" id="next_page">Next-></button>
            </div>
            <div class="row no-margin hide" id="study_challenge_btn">
                <a class="btn btn-primary btn-study-again" onclick="window.location.reload()">再学一遍</a>
                <a class="btn btn-danger btn-challenge" href="/sections/<%= text_course.section %>/practices/normal">我要挑战</a>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="/javascripts/process_markdown_render.js"></script>
<script type="text/javascript" src="/javascripts/text_courses.js"></script>
<%- include footer %>